h1 {
    text-align: center;
    margin-bottom: 100px;
}
#quiz-container {
    border: black 2px solid;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background-color: aliceblue;
}

h2{
    text-align: center;
}

.questions {
    display: block;
    margin-left: 10px;
    margin-top: 20px;
    width: 90%;
    text-align: start;
    border-width: 2px;
}

#btn-start{
    margin-top: 25px;
    margin-bottom: 10px;
    width: 150px;
    height: 30px;
    margin-left: 70px;
    border-width: 2px;
}

#prev{
    width: 80px;
    margin: 50px 10px 10px 10px;
    display: none;
}

#next{
    width: 80px;
    margin: 50px 10px 10px 106px;
    display: none;
}
